<section id="mu-service">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-service-area">
					<!-- Title -->
					<div class="row">
						<div class="col-md-12">
							<div class="mu-title">
								<h2>Abertura de empresa com a Contfy</h2>
							</div>
						</div>
					</div>
					<!-- Start Service Content -->
					<div class="row">
						<div class="col-md-12">
							<div class="mu-service-content">	
								<div class="row">
									<!-- Start single service -->
									<div class="col-md-4">
										<div class="mu-single-service">
											<div class="mu-single-service-icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
											<div class="mu-single-service-content">
												<h3>1. Realize o primeiro contato</h3>
												<p>Solicitaremos as informações basicas para o contato e conhecimento do cliente.</p>
											</div>
										</div>
									</div>
									<!-- End single service -->
									<!-- Start single service -->
									<div class="col-md-4">
										<div class="mu-single-service">
											<div class="mu-single-service-icon"><i class="fa fa-money" aria-hidden="true"></i></div>
											<div class="mu-single-service-content">
												<h3>2. Escolha do plano</h3>
												<p>Iremos avaliar o melhor plano contabil que se adequa ao seu negocio e retornar com as condição de preços bem justo.</p>
											</div>
										</div>
									</div>
									<!-- End single service -->
									<!-- Start single service -->
									<div class="col-md-4">
										<div class="mu-single-service">
											<div class="mu-single-service-icon"><i class="fa fa-file" aria-hidden="true"></i></div>
											<div class="mu-single-service-content">
												<h3>3. Documentação</h3>
												<p>Nós geramos toda documentação necessária e depois encaminhamos para sua localidade.</p>
											</div>
										</div>
									</div>
									<!-- End single service -->
									<!-- Start single service -->
									<div class="col-md-4">
										<div class="mu-single-service">
											<div class="mu-single-service-icon"><i class="fa fa-question" aria-hidden="true"></i></div>
											<div class="mu-single-service-content">
												<h3>4. Contabilidade</h3>
												<p>Teremos sempre um contador de nossa equipe disponível para as suas solicitações ou questionamentos.</p>
											</div>
										</div>
									</div>
							
								</div>
							</div>
						</div>
					</div>
					<!-- End Service Content -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<a href="/Empresa/ComoAbrirEmpresa" class="mu-send-msg-btn">Quer abrir empresa?</a>
			</div>			
		</div>
	</div>
</section>