<main>
	<!-- Start About -->
	<section id="mu-about">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-about-area">
						<!-- Title -->
						<div class="row">
							<div class="col-md-12">
								<div class="mu-title">
									<h2>Plano básico para comércio</h2>
								</div>
							</div>
						</div>
						<!-- Start Feature Content -->
						<div class="row">
							<div class="col-md-7">
								<div class="mu-about-left">
									<img class="" src="~/images/Compras7.jpg" alt="img">
								</div>
							</div>
							<div class="col-md-5">
								<div class="mu-about-right">
									<ul>
										<li>
											<p>
												A <strong>CONTFY</strong> também pode ser utilizado pelo comerciante de pequeno
												porte, ele pode usufruir de todos os recurso de uma contabilidade mesmo ela 
												sendo online, obtendo uma maior redução de custo.
												Este valor se restringe a empresa com um sócio e sem funcionário.
											</p>
										</li>
									</ul>
									<div class="mu-single-pricebox">
										<h5>Sua mensalidade será:</h5><br />
										<h4>R$ 99,90<span>/mês</span></h4>
									</div>

								</div>
								<br />
								<br />
								<div class="col-md-12">
									<a href="/Empresa/ComoAbrirEmpresa" class="mu-send-msg-btn">Abrir empresa</a>
									<a href="/Empresa/EnvioEmpresaNova" class="mu-send-msg-btn">Já tem empresa</a>
								</div>
							</div>
						</div>
						<!-- End Feature Content -->
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<!-- End main content -->	