<section id="mu-contact">
	<div class="container">
		<div class="row" id="dados">
			<div class="col-md-12">
				<div class="mu-contact-area">
					<!-- Title -->
					<div class="row">
						<div class="col-md-12">
							<div class="mu-title">
								<h2>Muito obrigado!</h2>
								<p>O mais rápido possivel nossa equipe estará avaliando a sua solicitação e entrando em contato.</p>
							</div>
						</div>
					</div>
					<!-- Start Contact Content -->
					@*<div class="mu-contact-content">
						<div class="row">

							<div class="col-md-12">
								<div class="mu-contact-form-area">
									<div id="form-messages"></div>


									<div class="form-group">
										<span class="fa fa-user mu-contact-icon"></span>
										<input type="text" class="form-control" placeholder="Nome" id="nome" name="nome">
									</div>

									<div class="form-group">
										<span class="fa fa-envelope mu-contact-icon"></span>
										<input type="email" class="form-control" placeholder="Email" id="email" name="email">
									</div>

									<div class="form-group">
										<span class="fa fa-whatsapp mu-contact-icon"></span>
										<input type="tel" class="form-control" placeholder="Celular" name="celular" id="celular">
									</div>
									<div class="form-group">
										<span class="fa fa-pencil-square-o mu-contact-icon"></span>
										<input type="tel" class="form-control" placeholder="CNPJ" id="cnpj" name="cnpj">
									</div>
									<button type="button" class="mu-send-msg-btn" id="proximoDados"><span>Enviar</span></button>

								</div>
							</div>

						</div>
					</div>*@
					<!-- End Contact Content -->
				</div>
			</div>
		</div>

	</div>
</section>
