<!-- Start Page Header area -->
@*<div id="mu-page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-page-header-area">
						<h1 class="mu-page-header-title"></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	 End Page Header area*@
<!-- Start Breadcrumb -->
@*<div id="mu-breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav aria-label="breadcrumb" role="navigation">
						<ol class="breadcrumb mu-breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page"></li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>*@
<!-- End Breadcrumb -->
<!-- Start main content -->
<main>
	<!-- Start About -->
	<section id="mu-about">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-about-area">
						<!-- Title -->
						<div class="row">
							<div class="col-md-12">
								<div class="mu-title">
									<h2>Plano básico para empresa</h2>
								</div>
							</div>
						</div>
						<!-- Start Feature Content -->
						<div class="row">
							<div class="col-md-7">
								<div class="mu-about-left">
									<img class="" src="~/images/Terceirização-de-Serviços.jpg" alt="img" width="600px" height="400px">
								</div>
							</div>
							<div class="col-md-5">
								<div class="mu-about-right">
									<ul>
										<li>
											<p>
												A <strong>CONTFY</strong> tem o plano básico para prestadores de serviços, médicos,
												consultores,construtor civil, advogados e profissional independente e outros.
												Este valor se restringe a empresa com um sócio e sem funcionário.
											</p>
										</li>
									</ul>
									<div class="mu-single-pricebox">
										<h5>Sua mensalidade será:</h5><br />
										<h4>R$ 69,90<span>/mês</span></h4>
									</div>

								</div>
								<br />
								<br />
								<div class="col-md-12">
									<a href="/Empresa/ComoAbrirEmpresa" class="mu-send-msg-btn">Abrir empresa</a>
									<a href="/Empresa/EnvioEmpresaNova" class="mu-send-msg-btn">Já tem empresa</a>
								</div>
							</div>
						</div>
						<!-- End Feature Content -->
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<!-- End main content -->	